// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.navbar-right li a {
  display: inline;
  padding: 0px 10px;
}

.navbar-right li a:hover {
  display: inline;
  padding: 0px 10px;
  background-color: white;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: block;
}